<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105270931778-m9sb53dk0ngqkrf00cv16gvnafd6ut6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105270931778-m9sb53dk0ngqkrf00cv16gvnafd6ut6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105270931778-38phbk47mq4aa0cmokqjjj86s44vah4v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAPSMsDr0gVThVc-V8o8dK0xDUXt1Yj1g</string>
	<key>GCM_SENDER_ID</key>
	<string>105270931778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realtyinvestorclub.ricinvestors</string>
	<key>PROJECT_ID</key>
	<string>ric-ventures-b8fec</string>
	<key>STORAGE_BUCKET</key>
	<string>ric-ventures-b8fec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105270931778:ios:f64d5dfe6f9b39436cd8db</string>
	<key>DATABASE_URL</key>
	<string>https://ric-ventures-b8fec.firebaseio.com</string>
</dict>
</plist>